.logo {
    display: block;
    width: 98%;
    margin: 0 auto;
}

.yellow-box {
    display: block;
    background-color: blueviolet;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 0.4rem 0.4rem;
    color: #ffffff;
    box-shadow: 0 0.3rem rgba(146, 142, 142, 0.712);
    padding: 0.3rem;
    margin: 0 auto;
    width: 98%;
}
.already-member {
    display: block;
    font-size: 1.2rem;
    text-align: end;
    margin: 0 auto;
    width: 98%;
}